{% extends "base.html" %}
{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h1>Contact</h1>
            <p>You can contact us either by email or by social media, below are the links for contact:</p>
            <h4>Links</h4>
            <ul>
                <li>E-mail: <a href="mailto:contato@simplemooc.org">contato@yourpage.org</a></li>
                <li>Twitter: <a href="https://twitter.com/simplemooc">@youruser</a></li>
            </ul>
        </div>
    </div>

{% endblock %}